body {
    background:url(Фон.jpg);
    background-size: cover;
    color:#ffffff;
    font-size: 120%;
        margin-right: 5%; 
        margin-left: 5%; 
    
}

#content {
    width: 500px; 
    margin: 0 auto 100px; 
}
h1 {
    text-align:center;
    font-size: 250%;
    font-family:serif;
}

h2  { text-align:left;
    font-size: 130%;
    font-family:serif;
}
h3 {text-align:left;
    font-size: 130%;
    font-family:serif; }

    img {
        border: 4px solid transparent;;
       }

    a:link {
        color: #4533e993;
    }
    a:visited {
        color: #3816418e;
      }
      a:active {
        color: #ffffff; 
        border-bottom: 1px dashed;
      }
      a {
        display: inline-block;
        text-decoration: blink;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 15px 25px;
        padding: 15px 20px;
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        transition: 0.4s ease-in-out;
      }
